h1, a {color:steelblue; text-align: center}
body {text-align: left; font-size: 20px; }
#bacon {color: red; background-color: lightcyan;}
.butter {background-color: lightcyan;}
.beans {width: 400px; background-color:aquamarine; text-align: center; margin: 0 auto;}
span {color: black;}
div {color:brown;}

img {width:400px; margin: 0 auto; display: block}
p {text-align: center; width: 400px; margin: 0 auto;}